/*@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2 / 3) and (orientation: portrait) {*/
@media only screen and (max-width: 980px){
	.intern_sidebar{
		position: relative;
		top:0;
	}
	#header-article h4 {
		width: 100%;
	}
	#menubar {
		width: 100%;
		margin: 0 auto;
		height: 100%;
		position: fixed;
	}
	.article .sub-header{
		display: block;
	}

	#sub-header{
		height: 260px;
				z-index: -1;
				display: block !impo;

	}
	#main-menu {
		height: 100%;
		width: 0%;
		top:0;
		background-color: #333;
		position: fixed;
		z-index: 2000;
		right: 0;
	}
	.menu-desktop .divide{
		display: none;
	}
	.menu-desktop .menu-item .menu-link{
		color: #fff;
		margin: 15px auto;
		display: block;
		width: auto;
		text-align: center;
	}
	.menu-responsive .menu-item{
		list-style-type: none;
		float: none;
		padding: 10px 13px;
		position: relative;
		height: 48px;
		border-bottom: 1px dotted #fff;
	}
	#logotipo{
		margin: 0px 3px;
		padding: 0;
		/* float: left; */
		position: fixed;
		top: 15px;
		left: 43%;
	}
	#content {
		width: 100%;
		margin: 0 auto;
	}
	#container{
		width: 100%;
		float: none;
		margin: 0 auto;
	}
	#sidebar {
		width: 300px;
		float: none; 
		margin: 0 auto;
		position: relative;
		top: 0;
	}
	.slider-item {
		background-image: url(../images/home/carousel01.jpg);
		background-size: cover;
		height: inherit;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		background-position: center;
	}
	.slider-content {
		width: 50%;
		margin: 0;
		position: relative;
		left: 10px;
		top: 75px;
		}
		#assets {
		width: 95%;
		margin: 0 auto;
		position: relative;
		top: -23px;
		height: 90px;
	}
	.column {
		margin: 0 auto;
		width: 90%;
	}
	#footer{
		/*padding-top: 5px;*/
	}
	#footer .content-info {
		width: 70%;
	}
	#footer .content-info .phone {
		float: none; 
		margin: 0px auto;
		/* margin-right: auto; */
		/*width: 43%;*/
	}
	#footer .content-info .info {
		float: none;
		clear: both;
		margin: 10px auto;
		padding: 5px;
	}
	.menu_responsive_button{
		background: url(../images/sprite01.png) no-repeat -386px -116px;
		width: 9px;
		display: block;
		height: 37px;
		/* float: right; */
		cursor: pointer;
		margin: 20px 20px;
		position: absolute;
		right: 0;
		z-index: 2000;
	}
	.slider-nav{
		width: 100%;
	}
	 .menu {
		float: none;
	}
	.line-left{
		display: none;
	}
	.line-right{
		display: none;
	}
	.sub-header{
		background-color: #e6e7d5;
		height: 125px;
	}
	.line-center{
		background-color: #e6e7d5;

		width: 100%;
		text-align: center;
		line-height: 67px;
		margin: 0 auto;
		margin-top: 85px;
	}
	.assets-home .main-assets{
		width: 300px;
		float: right;
		height: 134px;
		background: #fff;
		position: absolute;
		top: -5px;
		/* height: 300px; */
		overflow: hidden;
		right: 0;
	}
	.main-assets {
		width: 300px;
		float: none; 
		height: 84px;
		background: #fff;
		top: 0;
		overflow: hidden;
		right: 0;
		margin: 0 auto;
		position: relative;
	}
	#search{
		display: none;
	}
	#assets {
		top: 0;
	}
	.container_servicios {
	height: auto;
	width: 100%;
	overflow: hidden;
	}
	.wrap-service {
	width: 90%;
	margin: 0 auto;
	}
	.info-servicios {
		float: left;
		width: 95%;
		}
		.image-servicios {
		width: 90%;
	}
}
@media only screen and (max-width: 760px){
	#header-article h4 {
		width: 100%;
	}
	.article .sub-header{
		display: block;
	}
	.intern_sidebar{
		position: relative;
		top:0;
	}
	#search{
		display: none;
	}
	.column {
		margin: 0 auto;
		width: 40%;
	}
	#sub-header{
		height: 260px;
		z-index: -1;
	}
	.assets-home .main-assets{
		width: 300px;
		float: right;
		height: 134px;
		background: #fff;
		position: absolute;
		top: -5px;
		/* height: 300px; */
		overflow: hidden;
		right: 0;
	}
	.main-assets {
		width: 300px;
		float: none; 
		height: 84px;
		background: #fff;
		top: 0;
		overflow: hidden;
		right: 0;
		margin: 0 auto;
		position: relative;
	}
	.menu_responsive_button{
		background: url(../images/sprite01.png) no-repeat -386px -116px;
		width: 9px;
		display: block;
		height: 37px;
		/* float: right; */
		cursor: pointer;
		margin: 20px 20px;
		position: absolute;
		right: 0;
		z-index: 2000;
	}
	#footer{
		/*padding-top: 5px;*/
	}
	#footer .content-info .phone {
		float: none; 
		margin: 0px auto;
		/* margin-right: auto; */
		/*width: 73%;*/
	}
	#footer .content-info {
		width: 70%;
	}
	#footer .content-info .info {
		float: none;
		clear: both;
		margin: 10px auto;
		padding: 5px;
	}
	.slider-nav{
		width: 100%;
	}
	 .menu {
		float: none;
	}
	#assets {
		top: 0;
	}
	.container_servicios {
		height: auto;
		width: 100%;
		overflow: hidden;
	}
	.wrap-service {
		width: 90%;
		margin: 0 auto;
	}
	.info-servicios {
	float: left;
	width: 95%;
	}
	.image-servicios {
		width: 90%;
	}
}
@media only screen and (max-width: 420px) {
	#header-article h4 {
		width: 100%;
	}
	.article .sub-header{
		display: block;
	}
	.intern_sidebar{
		position: relative;
		top:0;
	}
	#search{
		display: none;
	}
	#main-menu{
		height: 100%;
		width: 0%;
		top: 0;
		background-color: #333;
		position: fixed;
		z-index: 2000;
		right: 0;
	}
	#sub-header{
		height: 260px;
				z-index: -1;

	}
	.assets-home .main-assets{
		width: 300px;
		float: right;
		height: 134px;
		background: #fff;
		position: absolute;
		top: -5px;
		/* height: 300px; */
		overflow: hidden;
		right: 0;
	}
	.main-assets {
		width: 300px;
		float: none; 
		height: 84px;
		background: #fff;
		top: 0;
		overflow: hidden;
		right: 0;
		margin: 0 auto;
		position: relative;
	}
	#menubar{
		width: 100%;
		margin: 0 auto;
		height: 100%;
		position: fixed;

	}
	.menu-desktop .divide{
		display: none;
	}
	.menu-responsive{
		/*display: none;*/
	}
	.menu-desktop .menu-item .menu-link{
		color: #fff;
		margin: 15px auto;
		display: block;
		width: auto;
		text-align: center;
	}
	.menu-responsive .menu-item{
		list-style-type: none;
		float: none;
		padding: 10px 13px;
		position: relative;
		height: 48px;
		border-bottom: 1px dashed #fff;
	}
	#logotipo {
		margin: 0px 3px;
		padding: 0;
		/* float: left; */
		position: fixed;
		top: 15px;
		left: 43%;
	}
	 .menu {
		float: none;
	}
	.menu_responsive_button{
		background: url(../images/sprite01.png) no-repeat -386px -116px;
		width: 9px;
		display: block;
		height: 37px;
		/* float: right; */
		cursor: pointer;
		margin: 20px 20px;
		position: absolute;
		right: 0;
		z-index: 2000;
	}
	.slider-item {
		background-image: url(../images/home/carousel01.jpg);
		background-size: cover;
		height: inherit;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		background-position: center;
	}
	.slider-content {
		width: 50%;
		margin: 0;
		position: relative;
		left: 10px;
		top: 75px;
		}
	.slider-content .slider-info {
		width: 100%;
	}
	.signature_home {
		display: block;
	}
	.slider-nav .slider-signature{
		background: none;
		position: relative;
		top: 30px;
		left: 20px;
	}
	.dots_nav{
		left: 40px;
	}
	#assets {
		width: 95%;
		margin: 0 auto;
		position: relative;
		top: 0px;
		height: 90px;
	}
	.column {
		margin: 0 auto;
		width: 300px;
	}
	#content {
		width: 100%;
		margin: 0 auto;
	}
	#container{
		width: 100%;
		float: none;
	}
	.slider-nav{
		width: 100%;
	}
	#footer .content-info{
		width: 100%;
	}
	#sidebar {
		width: 300px;
		float: none; 
		margin: 0 auto;
		position: relative;
		top: 0;
	}
	#footer{
		/*padding-top: 5px;*/
	}
	#footer .content-info .phone {
		 float: none; 
		margin: 15px auto;
		/* margin-right: auto; */
		/*width: 73%;*/
	}
	#footer .content-info {
		width: 70%;
	}
	#footer .content-info .info {
		float: none;
		clear: both;
		margin: 10px auto;
		padding: 5px;
	}
	.container_servicios {
		height: auto;
		width: 100%;
		overflow: hidden;
	}
	.wrap-service {
	width: 90%;
	margin: 0 auto;
	}
	.info-servicios {
	float: left;
	width: 95%;
	}
	.image-servicios {
		width: 90%;
	}
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2 / 3) and (orientation: landscape) {

}