html, body{
	width: 100%;
    font-family: 'focoregular';
}
#responsive_menu{
	position: fixed;
	top: 0;
	right: 0;
	width: 60%;
	height: 100%;
	background: #333;
	z-index: 20000;
	 display: none; 
}
.responsive_menu{
	margin: 0;
	padding: 0;
	height: 100%;
}
.responsive_menu .item-responsive{
	list-style-type: none;
	padding: 20px 8px;
	text-align: center;
	border-bottom: 1px dotted #fff;
}
.responsive_menu .item-responsive:first-child{
	text-align: left;
    font-family: 'focoregular';
}
.responsive_menu .item-responsive:first-child a{
    font-family: 'focoregular';
}
.responsive_menu .item-responsive a{
	color: #fff;
	text-decoration: none;
	font-family: 'AmericanTypewriter';
}
.responsive_menu .item-responsive a:hover{
	color: #a5dbd4;
}
#main-wrap{
	width: 100%;
}
#header{
	background-color: #a5dbd4;
	height: 83px;
	border-bottom: 5px solid #333333;
	position: fixed;
	width: 100%;
	z-index: 999;
	top:0;
}
.search_button
{
	background: url(../images/sprite01.png) no-repeat -372px -59px;
	width: 18px;
	height: 17px;
	display: none;
	margin: 20px;
	cursor: pointer;
}
#menubar{
	width: 980px;
	margin: 0 auto;
}
#main-menu{
	position: relative;
	top: 20px;
}
.menu{
	margin: 0px 2px;
	padding: 0;
	float: left;
}
.menu-desktop .menu-item{
	list-style-type: none;
	float: left;
	padding: 10px 12px;
	position: relative;
}
.menu-desktop .divide{
	background: url('../images/sprite01.png') no-repeat -379px -25px;
	width: 3px;
	height: 16px;
	display: block;
	position: absolute;
	left: 0px;
}
.menu-desktop .menu-item .menu-link{
	color: #333;
	text-decoration: none;
	font-family: 'AmericanTypewriter';
	font-size: 16px;
}
.menu-desktop .menu-item .menu-link:hover{
	text-decoration: underline;
}
.home_body #wrapper{
	top: 88px;
}
#wrapper{
	top: 198px;
	width: 100%;
	height: auto;
}
#logotipo{
	position: relative;
	z-index: 999;
}
#wrap-content{
	width: 100%;
	height: auto;
	overflow: hidden;
	clear: both;
	position: relative;
	z-index: 1;
	margin-top: 195px;
}
#assets{
	width: 980px;
	margin: 0 auto;
	position: relative;
	z-index: 10;
	height: 40px;
}
.main-assets{
	width: 300px;
	float: right;
	height: 140px;
	position: absolute;
	top: -15px;
	overflow: hidden;
	right: 0;
	background: url(../images/shadow01.png) -22px -18px no-repeat;
	padding:0  5px;
}
.assets-home{
	z-index:1;
}
.assets-home  .main-assets{
	top:-85px;
	background: none;
	padding: 0;
}
#content {
	width: 980px;
	margin:0px auto;	
	height: auto;
	position: relative;
}
#sidebar {
	width: 300px;
	float: right;
	position: relative;
	top: 12px;
}
#footer{
	clear: both;
	height: 125px; 
	bottom: 0;
	width: 100%;
	background-image: url(../images/lechuga.png);
}
#footer .content-info{
	width: 980px;
	margin: 0 auto;
}
#footer .content-info .info{
	float: left;
}
#footer .content-info .phone{
	float: right;
	margin-top: 35px;
	margin-right: 10px;
	width: 240px;
}
#footer .content-info .phone p{
	float: right;
	color: #6dbeb3;
	font-size: 30px;
	font-family: 'AmericanTypewriter';	
	font-weight: bold;
	margin: 0;	
}
#footer .content-info .phone .icon{
	background: url('../images/sprite01.png') no-repeat -235px -124px;
	width: 27px;
	height: 22px;
	display: block;
	float: left;
	margin-top: 6px;
	margin-right: 10px;
}
#footer .content-info .info {
	text-align: right;
	margin-top: 35px;
	margin-left: 10px;
	width: 240px;
}
#footer .content-info .info p {
	color: #fff;
	font-size: 12px;
	margin: 1px 0;
}
#footer .content-info .info a{
	color: #fff;
	font-size: 12px;
	text-decoration: none;
}
#footer .content-info .info a:hover{
	color: #6dbeb3;
}

/*SLIDER */

#slider{
	clear: both;
	height: 405px;
	width: 100%;
	position: relative;
}
#slider .wrap-slider{
	width: 100%;
	position: absolute;	
	height: 100%;
}
.slider-item{
	background-size: cover;
	height: inherit;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;	
	background-position: center;
	display: none;
}
.active_slide{
	display: block;
}
#slider01 {
	background-image: url(../images/home/carousel01.jpg);	
}
#slider02 {
	background-image: url(../images/home/carousel02.jpg);	
}
.slider-content{
	width: 980px;
	margin: 0 auto;
	position: relative;
	left: 0;
	top: 75px;
}
.slider-content .slider-info{
	width: 300px;
}
.slider-content .slider-title{
	width: 100%;
	height: auto;
	padding: 25px 5px 5px;
}
.slider-content .slider-title .top{
	background-image: url(../images/topWhite01.png);
	height: 10px;	
}
.slider-content .slider-title .bottom {
	background-image: url(../images/bottomWhite01.png);	
	height: 10px;
}
.slider-content .slider-title a {
	font-size: 27px;
	color: #fff;
	font-weight: normal;
	font-family: 'AmericanTypewriter';	
	margin: 5px 0;
}
.slider-content .slider-abstract p {
	color: #333333;
	font-size: 0.8em;
	margin: 20px 10px;
}
.slider-nav{
	position: relative;
	z-index: 8;
	width: 980px;
	margin: 0 auto;
	top: 285px;
}
 .dot{
	background: url('../images/sprite01.png') no-repeat -359px -166px;
	width: 11px;
	height: 11px;
	margin: 5px;
	display: block;
	float: left;
}
#recetas_nav{
	width: 200px;
	margin: 0 auto;
	padding: 0;
}
#recetas_nav .dots_nav{
	top:-20px;
}
 .dot:hover {
	background-position: -340px -166px;
}
.dots_nav{
	width: 120px;
	text-align: center;
	height: 20px;
	left: 65px;
	position: relative;
	top: 10px;
}
 .active{
	background: url('../images/sprite01.png') no-repeat -340px -166px;
}
.slider-nav .slider-signature{
	background: url('../images/sprite01.png') no-repeat -13px -307px;
	width: 233px;
	height: 61px;
}
#social-networks{
	background-color: #a5dbd4;
	padding: 5px;
	border: 5px solid #fff;
}
#social-networks .social{
	margin: 0;
	padding: 0;
	height: 60px;
}
#search_responsive{
	position: absolute;
	top: -180px;
	left: 0;
	width: 100%;
	padding-top: 60px;
	background-color: #FFFFFF;
	height: 100px;
	z-index: 2001;
	border-bottom: 5px solid #333;
	margin: 0 auto;
	text-align: center;
}
#search_responsive input {
	width: 200px;
	border: 2px solid #a5dbd4;
	padding: 5px ;
	color: #333;
	font-size: 14px;
	height: 30px;
}
#search_responsive button {
	position: absolute;
	background: url('../images/sprite01.png') no-repeat -325px -21px;
	border: none;
	width: 18px;
	height: 17px;
	padding: 12px;
	margin-top: 13px;
	margin-left: 15px;
}
#social-networks  .social  li {
	float: left;
	list-style-type: none;
	padding: 10px 18px;
	border-left: 1px dashed #fff;
	margin-top: 8px;
}
#social-networks .social li a{
	
}
#social-networks  .social  li:first-child{
	border-left: none;
}
#fb-social{
	background:url('../images/sprite01.png') no-repeat -27px -21px;
	width: 11px;
	height: 24px;
	display: block;
	
}
#fb-social:hover {
	background-position: -27px -54px;
}
#tw-social{
	background:url('../images/sprite01.png') no-repeat -78px -21px;
	width: 21px;
	height: 24px;
	display: block;
}
#tw-social:hover{
	background-position: -78px -54px;
}
#pt-social{
	background:url('../images/sprite01.png') no-repeat -138px -21px;
	width: 23px;
	height: 24px;
	display: block;
}
#pt-social:hover {
	background-position: -138px -54px;
}
#in-social{
	background:url('../images/sprite01.png') no-repeat -201px -20px;
	width: 18px;
	height: 24px;
	display: block;
}
#in-social:hover{
	background-position: -201px -53px;
}
#yt-social{
	background:url('../images/sprite01.png') no-repeat -261px -21px;
	width: 18px;
	height: 24px;
	display: block;
}
#yt-social:hover{
	background-position: -261px -54px;
}
#search{
	padding: 5px;
	background: #fff;	
}
#container{
	width: 680px;
	height: auto;
	overflow: hidden;
	float: left;
}
#search_button{
	position: absolute;
	background: url('../images/sprite01.png') no-repeat -325px -21px;
	border: none;
	width: 18px;
	height: 17px;
	padding: 12px;
	margin-top: 13px;
	margin-left: 15px;
}
#buscador {
	width: 247px;
	border: 2px solid #a5dbd4;
	padding: 5px 3px 5px 37px;
	color: #333;
	font-size: 14px;
	height: 30px;
}
.title-widget{
	padding: 10px;
	background-color: #a5dbd4;

}
.title-widget .icon{
	display: block;
	float: left;
	padding: 5px;
}
.title-widget h3{
	margin:0;
	font-weight: normal;
	color: #6dbeb3;
	font-family: 'AmericanTypewriter';		
}
.content-widget{
	padding: 5px;
	background:#fff;
}
#widget_tw .icon{
	background: url('../images/sprite01.png') no-repeat -288px -126px;
	width: 28px;
	height: 21px;
}
#widget_in .icon{
	background: url('../images/sprite01.png') no-repeat -16px -120px;
	width: 29px;
	height: 28px;
}
#widget_fb .icon{
	background: url('../images/sprite01.png') no-repeat -68px -124px;
	width: 29px;
	height: 24px;
}
#widget_share{
	margin: 5px 0 ;
}
#widget_news .icon{
	background: url('../images/sprite01.png') no-repeat -116px -127px;
	width: 29px;
	height: 18px;
}
#widget_share .icon{
	background: url('../images/sprite01.png') no-repeat -177px -122px;
	width: 25px;
	height: 28px;
}
#widget_share .content-widget{
	height: 20px;
	background: #eaeade;
	margin: 5px 0;
	padding: 20px 35px;
}
#widget_share .content_widget .fb-share-button{
	margin: 0 10px;
}
#news{
	background: #eaeade;
	width: 290px;
	border: none;
	padding: 5px;
	color: #333;
	font-size: 14px;
	height: 30px;
	margin: 5px 0;
	display: none;
}
.article_post{
	width: 260px;
	padding: 10px;
	float: left;
	margin: 20px ;
}
.article_post a{
	text-decoration: none;
}
.circle{
	position: relative;
	display: inline-block;
	width: 250px;
	height: 250px;
	margin-bottom: 20px;
	border:10px solid;
	border-color: rgba(238, 239, 222, 1);
+	filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30);
	-ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";
	zoom: 1;
	-webkit-transition: opacity 0.6s linear;
    -moz-transition: opacity 0.6s linear;
    -o-transition: opacity 0.6s linear;
    -ms-transition: opacity 0.6s linear;
    transition: opacity 0.6s linear;
    -webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius:50%;
	-ms-border-radius:50%;
	border-radius: 50%;
	opacity: 1;
}
.articlecircle{
	border-color: #fff;
}
.circle:hover {
	opacity: 0.8;	
}
.column .article_post:first-child{
	margin-right: 55px;
}
.article_post .category{
	padding: 18px 5px;
	text-align: center;
}
.article_post .category a{
	color: #339999;
	text-decoration: none;
}
.article_post .category a:hover{
	color: #a5dbd4;
	text-decoration: none;
}
.article_post .category .top{
	background-image: url(../images/topBlack01.png);
	height: 10px;
}
.article_post .category .bottom{
	background-image: url(../images/bottomBlack01.png);
	height: 10px;
	margin-top: 10px;
}
.article_post .category h3{
	margin: 0;
	font-weight: normal;
	color: #333;
	font-family: 'AmericanTypewriter';
	font-weight: normal;
	font-size: 24px;
	padding:  10px 0 0 ;
	text-align: center;
	text-decoration: none;

}
.article_post .content_article h4{
	color: #333;
	font-weight: normal;
	font-size: 18px;
	margin: 15px 0 0;
	text-decoration: none;
}
.article_post .button_more .view-more{
	padding: 10px;
	margin: 0 auto;
	border: #a5dbd4 2px solid;
	text-align: center;
	width: 232px;
	display: block;
	cursor: pointer;
	color:#339999;
	text-decoration: none;
	text-transform: uppercase;
}
.article_post .button_more .view-more strong {
    font-family: 'focobold';
    color: #339999;
}
.article_post .button_more .view-more:hover{
	background-color: #a5dbd4;
	color: #339999;
	border-color: #339999;
	-webkit-transition: background-color 0.6s linear;
    -moz-transition: background-color 0.6s linear;
    -o-transition: background-color 0.6s linear;
    -ms-transition: background-color 0.6s linear;
    transition: background-color 0.6s linear;
}
.article_post .button_more .view-more span{
	color: #000;
	position: relative;
	padding: 5px;
	top: 0.02em;
}
.article_post p.date{
	color: #70bfb5;
	font-family: 'AmericanTypewriter';
	font-size: 16px;
	margin: 5px 0;
}
.article_post .abstract{
	margin: 10px 0;
	text-decoration: none;

}
.menu_responsive_button{
	display: none;
}
.signature_home{
	display: none;
}
.signature_section {
	height: 70px;
	width: 100%;
	overflow: hidden;
	position: relative;
	margin: 35px 0;
}
.signature_section .sign{
	width: 280px;
	height: 20%;
	margin: 0px auto;
}
.signature_section .dotted{
	width: 40%;
	border: 1px dotted #a5dbd4;
	position: absolute;
	top:30px;
	z-index: -1;
}
.signature_section .dottedR{
	left: 0;
}
.signature_section .dottedL{
	right: 0;
}
p{
	font-size: 16px;
	color: #333;
}
#container .entry-info ul {
	margin: 0;
	padding: 0;
}
#container .entry-info ul li {
	color: #333;
	list-style-type: none;
	margin: 5px;
}
#container .entry-info .list-about{
	color: #339999;
}
#container .entry-info .list-about  li {
	color: #339999;
}
#container .entry-info ul li a{
	color: #339999;
	text-decoration: none;
}
#container .entry-info a {
	color: #339999;
	text-decoration: none;
}
#container .entry-info a:hover {
	color: #a5dbd4;
}
.mail {
	margin: 10px;
	height: 35px;
    cursor: pointer;	
    width: 275px;
}
.mail .icon{
	float: left;
	background: url(../images/sprite01.png) no-repeat -325px -65px;
	width: 26px;
	height: 18px;
}
.mail a{
	color: #333;
	text-decoration: none;
	float: right;
    font-family: 'AmericanTypewriter';
    font-size: 14px;
}
.mail a:hover {
	color : #339999;
}


/*ABOUT STYLE*/


#sub-header{
	clear: both;
	height: 50px;
	width: 100%;
	position: absolute;
	top:88px;
}
.sub-header {
   float: left;
	height: 40px;
	position: relative;
	width: 100%;
	background: #e6e7d5;
}
.line-center {
   background: url('../images/sprite02.png') no-repeat -11px -120px;
	width: 347px;
	height: 82px;
	position: relative;
	top: -28px;
	
	z-index: 0;
	text-align: center;
	line-height: 67px;
	
	margin: 0 auto;
	left: -336px;
}
.titulo_seccion {
    font-family: 'AmericanTypewriter';
	font-size: 1.4em;
    text-transform: uppercase;
}
.entry-info{
	padding: 20px;
}

/*SERVICIOS*/

#meditacion_service{
	background-color: #e8ebdb;
}
#wellness_service{
	background:url(../images/luz01.png);
	background-position: center;
	background-repeat: no-repeat;
	background-color: #87c9b7;
}
.container_servicios{
	height: 369px;
	width: 100%;
}
.wrap-service{
	width: 980px;
	margin: 0 auto;
}
.image-servicios{
	float: left;
	width: 480px;
	margin: 40px auto 0;
	text-align: center;
}
.info-servicios{
	float: left;
	width: 480px;
}	
.info-servicios h3{
	font-weight: bold;
	font-family: 'AmericanTypewriter';
	font-size: 43px;
	color: #4da196;
}
.info-servicios p{
	font-size: 16px;
	padding: 10px;
	color: #333;
}
#wellness_service .image-servicios {
	float: right;
}
#wellness_service .info-servicios {
	float: right;
}

/*ARTICLE*/

.article {
	background-color: #eeefde;
}
.section_brown{
	background-color: #eeefde;
}

#header-article{
	height: auto;
}
#full-image{
	clear: both;
	height: 405px;
	width: 100%;
	position: relative;
	background-color: #fff;
}
#full-image .item-image{
	background-size: cover;
	height: inherit;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	background-position: center;
}
#full-image .article-image{
	width: 100%;
	position: absolute;
	height: 100%;
}
#image01{
	background-image: url(../images/sections/articulo/slide01.png);
}
#header-article h4{
	width: 980px;
	margin: 0 auto;
	padding: 15px;
	font-weight: normal;
	font-size: 24px;
	font-family: 'AmericanTypewriter';
}
.date-article{
	color: #70bfb5;
	font-family: 'AmericanTypewriter';
	font-size: 16px;
	margin: 10px 20px;
}
.intern_sidebar{
	width: 300px;
	position: absolute;
	top: -392px ;
	right: 5px;
	z-index: 999;
	margin:0 auto;
	text-align: center;
	/* padding: 0px 5px; */
}
.sidebar-content{
	background-color: #fff;
	padding: 10px 0;
}
.related-item{
	border-top: 1px dashed #a5dbd4;
	padding: 20px;
	clear: both;
	height: 115px;
}
.related-item a:hover{
	color: #a5dbd4;
}
.related-item .img-related{
	float: left;
}
.related-item .title-related{
	float: right;
	width: 130px;
	text-decoration: none;
	color: #333;
	font-size: 20px;
	font-weight: bold;
	font-family: 'AmericanTypewriter';
}
.related-item .title-related:hover{
	color: #a5dbd4;
}
strong{
	color: #3B3B3B;
}
.tail_rb{
	background-image: url(../images/recetas_bar/rib01.png);
	width: 300px;
	height: 252px;
}
.side-title h3{
	font-weight: normal;
	font-size: 32px;
	color: #a5dbd4;
	font-family: 'AmericanTypewriter';
	margin: 0;
}
.side-title img {
	margin:5px 0;
}
.article-signature{
	float: right;
	margin: 10px;
}

.back_button{
	float: left;
	margin: 10px 0 35px;
}
.back_link{
	padding: 10px;
	margin: 0 auto;
	border: #a5dbd4 2px solid;
	text-align: center;
	width: 232px;
	display: block;
	cursor: pointer;
	color: #339999;
	background-color: #eeefde;
	cursor: pointer;
	text-decoration: none;
	text-transform: uppercase;
}
.back_button a:hover{
	background-color: #a5dbd4;
	color: #fff;
	border-color: #339999;
	-webkit-transition: background-color 0.6s linear;
    -moz-transition: background-color 0.6s linear;
    -o-transition: background-color 0.6s linear;
    -ms-transition: background-color 0.6s linear;
    transition: background-color 0.6s linear;
}
.back_link span{
	color: #000;
}
.home_body #wrap-content{
	top: -7px;
}
#paginador{
	clear: both;
	margin: 30px auto;
	text-align: center;
	width: 475px;
	height: 70px;
}
.page{
	background: url(../images/sprite01.png) no-repeat -348px -204px;
	width: 53px;
	height: 45px;
	display: block;
	padding: 15px 0px 0;
	float: left;
	margin: 5px;
	color: #333;
	text-decoration: none;
	font-family: 'AmericanTypewriter';
}
.page:hover {
	background-position: -282px -204px;
}
.mask-pages{
	max-width: 380px;
	min-width: 190px;
	width: ;
	float: left;
	overflow: hidden;
	height: 70px;
}
.pages{
	margin: 0;
	padding: 0;
	width: 380px;
	position: relative;
}
.next{
	background: url(../images/sprite01.png) no-repeat -290px -275px;
	width: 16px;
	height: 27px;
	display: block;
	float: left;
	margin: 15px;
	cursor: pointer;
}
.prev{
	background: url(../images/sprite01.png) no-repeat -326px -275px;
	width: 16px;
	height: 27px;
	display: block;
	float: left;
	margin: 15px;
	cursor: pointer;
}
#paginador .active{
	background-position: -282px -204px;	
}
#image02{
	background-image: url(../images/recetas_bar/receta01.png);
}
 .borderbottom{
	background-image: url(../images/bottomBlack01.png);
	height: 10px;
}
.contact-sidebar{
	border-bottom: 1px dotted #a5dbd4;
	padding-bottom: 10px;
}
.contact_assets .phone .icon {
	background: url(../images/sprite01.png)-352px -266px;
	width: 46px;
	height: 47px;
	display: block;
	float: left;
	opacity: 0.5;
	-webkit-transition: opacity 0.6s linear;
    -moz-transition: opacity 0.6s linear;
    -o-transition: opacity 0.6s linear;
    -ms-transition: opacity 0.6s linear;
    transition: opacity 0.6s linear;
}
.contact_assets .phone .icon:hover{
	opacity: 1;
}
.contact_assets .phone {
	clear: both;
	margin: 5px 0;	
}
.contact_assets .phone p {
	margin: 0;
	float: left;

	padding-top: 15px;
	padding-left: 10px;
	height: 50px;
}
.contact_assets .address p{
	margin: 0;
	float: left;
	padding-top: 15px;
	padding-left: 10px;
}
.contact_assets .address{
	clear: both;
	margin: 5px 0;
}
.contact_assets .address .icon{
	background: url(../images/sprite01.png) -352px -321px;
	width: 46px;
	height: 47px;
	display: block;
	float: left;
	opacity: 0.5;
	-webkit-transition: opacity 0.6s linear;
    -moz-transition: opacity 0.6s linear;
    -o-transition: opacity 0.6s linear;
    -ms-transition: opacity 0.6s linear;
    transition: opacity 0.6s linear;
}
.contact_assets .address .icon:hover{
	opacity: 1;
}
.article_contact{
	height: 645px;
}
.estilo-info{
	width: 980px;
	margin: 0 auto;
	height: 100%;
}
.estilo-info .title{
	width: 327px;
	float: left;
	margin: 60px auto 0;
	text-align: center;
}
.estilo-info .title h3{
	font-weight: normal;
	font-size: 30px;
	color: #a5dbd4;
	font-family: 'AmericanTypewriter';
}
.estilo-info .text{
	float: right;
	width: 630px;
	margin: 100px auto 0;
	color: #333;
	padding: 10px;
}
.wrap-image{
	width: 980px;
	margin: 0 auto;
}
.blockquote{
	padding: 15px;
}
.blockquote p{
	font-style: italic;
	font-weight: lighter;
	margin: 5px auto;
	font-family: 'AmericanTypewriter';
	line-height: 25px;
	text-align: justify;
	width: 210px;

}
.blockquote h3{
	text-align: right;
	padding-top: 20px;
	font-weight: normal;
	font-family: 'AmericanTypewriter';
	margin: 0px;
}
.blockquote  span{
	font-size: 40px;
	display: block;
	background: url(../images/sprite01.png) no-repeat ;	
	width: 44px;
	display: block;
	height: 31px;
}
.blockquote .open{
	/* float: left; */
	background-position: -224px -160px;
	margin: 5px;
	
}
.blockquote .close{
	background-position: -273px -160px;
	position: relative;
	right: -225px;
}

/*CONTACTO*/

#contact_form {
	width: 350px;
	margin: 20px;
}
.item-form{
	width: 350px;
	clear: both;
	padding: 10px 0;
}
.item-form label {
	float: left;
}
.item-form  .icon {
	background: url(../images/sprite01.png) no-repeat;
	width: 24px;
	height: 24px;
	display: block;
	padding: 5px;
	float: left;
	margin: 15px 0px 0 20px;
}
.item-form input{
	float: right;
	height: 40px;
	padding: 5px;
	width: 280px;
	background-color: #a5dbd4;
	color: #68aca8;
	border: 1px solid #68aca8;
	font-family: 'AmericanTypewriter';
}
.item-form textarea{
	float: right;
	height: 200px;
	padding: 5px;
	width: 280px;
	background-color: #a5dbd4;
	color: #68aca8;
	border: 1px solid #68aca8;	
	font-family: 'AmericanTypewriter';
}
#send_message{
	float: right;
	margin: 20px 0;
	color: #68aca8;
	padding: 10px;
	border: #a5dbd4 2px solid;
	text-align: center;
	width: 232px;
	display: block;
	cursor: pointer;
	background-color: #eeefde;
	cursor: pointer;
}
#send_message:hover {
	border-color: #339999;
	-webkit-transition: background-color 0.6s linear;
    -moz-transition: background-color 0.6s linear;
    -o-transition: background-color 0.6s linear;
    -ms-transition: background-color 0.6s linear;
    transition: background-color 0.6s linear;
}
.contact-sidebar img {
	margin-top: 50px;
}
.contact-sidebar a{
	color: #333;
	font-size: 14px;
	font-family: 'AmericanTypewriter';
	text-decoration: none;
}
.contact-sidebar a:hover {
	color: #68aca8;
}
.contact-sidebar p {
	color: #333;
	font-size: 14px;
	font-family: 'AmericanTypewriter';
}
.item-form input::-webkit-input-placeholder {
   color: #68acaB;
}
.item-form input:-moz-placeholder { /* Firefox 18- */
   color: #68acaB;
}
.item-form input::-moz-placeholder {  /* Firefox 19+ */
   color: #68acaB;
}
.item-form input:-ms-input-placeholder {  
   color: #68acaB;
}
#send_message:hover{
	background-color: #a5dbd4;
	color: #fff;
}
#send_message span{
	color: #000;
}
#name_item .icon{
	background-position: -13px -168px;
}
#phone_item .icon{
	background-position:-52px -168px ;
}
#email_item .icon{
	background-position: -87px -171px;
}
#text_item .icon{
	background-position: -126px -165px;
}
#success {
	margin: 30px auto;
	text-align: center;
	display: none;
}
.search_title{
	width: 300px;
	text-align: center;
	margin: 0 auto;
}
.search_title .top{
	background-image: url(../images/topBlack01.png);
	height: 10px;
}
.search_title .bottom{
	background-image: url(../images/bottomBlack01.png);
	height: 10px;
}
.search_title h3{
	font-family: 'AmericanTypewriter';
	font-weight: normal;
	color: #333;
}
.results{
	margin: 20px 0;
	padding: 0;
}
.item-response{
	border-bottom: 1px dotted #68aca8;
	width: 200px;
}
.item-response a {
	text-decoration: none;
}
.item-response h3:hover{
	color: #68aca8;
}
.item-response p:hover {
	color: #68aca8;
}
.item-response h3{
	font-size: 20px;
	color: #333;
	font-family: 'AmericanTypewriter';
	font-weight: normal;
}
.item-response p {
	color: #333;
	font-size: 14px;
}
.item-response .date{
	font-size: 14px;
	color: #68acaB;
}




/*momentaneas*/

#circle_01{
	background-image: url('../images/mask01.png');
}
#circle_02{
	background-image: url('../images/mask03.png');

}
#circle_03{
	background-image: url('../images/mask05.png');

}
#circle_04{
	background-image: url('../images/mask04.png');

}
#circle_05{
	background-image: url('../images/nutricion/image01.png');

}
#circle_06{
	background-image: url('../images/nutricion/image03.png');

}
#circle_07{
	background-image: url('../images/nutricion/image04.png');

}
#circle_08{
	background-image: url('../images/nutricion/image02.png');

}

#circle_09{
	background-image: url('../images/bienestar/image06.png');

}
#circle_10{
	background-image: url('../images/bienestar/image05.png');

}
#circle_11{
	background-image: url('../images/bienestar/image04.png');

}
#circle_12{
	background-image: url('../images/bienestar/image03.png');

}
#circle_13{
	background-image: url('../images/bienestar/image02.png');

}
#circle_14{
	background-image: url('../images/bienestar/image01.png');

}

#circle_15{
	background-image: url('../images/equilibrio/image01.png');

}
#circle_16{
	background-image: url('../images/equilibrio/image02.png');

}
#circle_17{
	background-image: url('../images/equilibrio/image03.png');

}
#circle_18{
	background-image: url('../images/equilibrio/image04.png');

}
#circle_19{
	background-image: url('../images/equilibrio/image05.png');

}
#circle_20{
	background-image: url('../images/equilibrio/image06.png');

}